body{
	background-color: #f5d9d5
}
.firstpage h1{
	text-transform: uppercase;
	color:white;
	font-family: 'Nunito', sans-serif;
	font-size: 3em;
	font-weight: 100;


}
.firstpage span{
	color: #EA1C2C;
}
.navbar{
	text-transform: uppercase;
	font-family: 'Nunito', sans-serif;
	font-size: 1.5rem;

}
.blurb h2 {
   color: #EA1C2C;
   font-weight: 100;
   font-size: 2.5rem;
}

.blurb p {
    color: #f498b8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

#mainbrand{
	color: #EA1C2C;
	font-size: 1.5rem;

}
#navbarNavAltMarkup .nav-link{
	color: white;

}
#navbarNavAltMarkup .nav-link:hover{
	color: #EA1C2C;

}
.navbar.scrolled {
    background: rgb(222,192,222);
    transition: background 500ms;
}
@media (max-width: 1200px){
	.firstpage h1{
		font-size: 2rem;
		font-weight: 100;

	}
	 .blurb h2 {
        font-size: 2rem;
    	x}
	}

}
